<footer>
  <div class="c1">


    <div class="c2">
      <h3>Réservation Billets</h3>
      <p>
        Votre plateforme fiable pour réserver des billets d'avion.
        Une expérience rapide, facile et sécurisée.
      </p>
    </div>


    <div class="c2">
      <h3>Liens rapides</h3>
      <ul style="list-style: none; padding: 0;">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/listVol">Réserver un vol</a></li>
        <li><a href="#">Contact</a></li>
        <li><a routerLink="/about">À propos</a></li>
      </ul>
    </div>


    <div class="c2">
      <h3>Contactez-nous</h3>
      <p>Email : Tunisair&copy;gmail.com</p>
      <p>Téléphone : +33 1 23 45 67 89</p>
      <p>Adresse :</p>
    </div>


    <div style="flex: 1 1 200px; margin-bottom: 20px;">
      <h3>Suivez-nous</h3>
      <a href="https://www.facebook.com/TUNISAIR.OFFICIELLE" >Facebook</a>
      <a href="https://twitter.com" >Twitter</a>
      <a href="https://www.instagram.com/tunisair_officiel">Instagram</a>
    </div>
  </div>


  <div class="c3">
    <p>&copy; 2025 Tunisair. Tous droits réservés.</p>
  </div>
</footer>
