header {
  background-color: #353131;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 1.8em;
}

.container {
  max-width: 1700px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  left:300px;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #4CAF50;
  color: white;
}

table tr:hover {
  background-color: #f1f1f1;
}

.btn-add {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #45a049;
}
/* From Uiverse.io by vinodjangid07 */
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: green;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  margin:15px;
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

