<div class="container mt-5" style="position: relative;left: 200px;">
  <h2 class="mb-4">Ajouter un utilisateur</h2>
  <form  (ngSubmit)="onSubmit()"  [formGroup]="userForm">
      <div class="mb-3">
          <label for="name" class="form-label">Nom :</label>
          <input type="text" class="form-control" formControlName="nom" required>
      </div>
      <div class="mb-3">
          <label for="prenom" class="form-label">prenom:</label>
          <input type="text" class="form-control" formControlName="prenom" required>
      </div>
      <div class="mb-3">
          <label for="telephone" class="form-label">numero Téléphone :</label>
          <input type="text" class="form-control" formControlName="telephone" required>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">email :</label>
        <input type="email" class="form-control" formControlName="email" required>
    </div>
    <div class="mb-3">
      <label for="passport_num" class="form-label">numero passport :</label>
      <input type="text" class="form-control" formControlName="passport_num" required>
  </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe :</label>
        <input type="password" class="form-control" formControlName="mdp" required>
    </div>
      <div class="mb-3">
          <label for="role" class="form-label">Rôle :</label>
          <select class="form-control" formControlName="role" required>
              <option value=1>Admin</option>
              <option value=0>Utilisateur</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
