form{
  width:900px;
  position: relative;
  left:800px
}
h1 {
  font-size: 2.8rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  left:40%
}
label{
  font-size: large;
  font-weight:500;
}
