
.ticket {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 900px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  left:30%;
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.header .logo p {
  font-size: 1.5em;
  font-weight: bold;
  color: #d2232a;
}
img{
  height:40px;
}
.header .flight p {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main .left, .main .right {
  width: 40%;
}

.main p {
  margin: 8px 0;
  font-size: 0.9em;
  color: #555;
}

.main p strong {
  color: #333;
}

.footer {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  border-top: 2px dashed #ccc;
  padding-top: 10px;
}
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  left:5px;
  width:350px
}
