.container {

  margin: 30px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color:black;
  font-size: large;
  width: 100%;

}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(87, 87, 145, 0.942);
  margin-bottom: 20px;
  position: relative;
  padding-left: 10px;
}


.vol-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.vol-details div {
  background: #f9fafb;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.vol-details div span {
  font-weight: 600;
  color: rgb(87, 87, 145);
  font-size: large;
  font-family: bold;
}


.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.3rem;
  color: rgba(87, 87, 145, 0.938);
  margin-bottom: 10px;
}

.card p {
  color:black;
  font-size: large;
  margin: 8px 0;
}



.baggage ul li {
  background: #f9fafb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-size: 0.95rem;
  font-size: large;

}

.gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.gallery img {
  height: 180px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}


.reservation-button {
  text-align: center;
  margin-top: 30px;
}

.reservation-button button {
  background: linear-gradient(180deg, #363636 0%, #4e4e4e 50%, #313131 100%);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


